.input-val{
    margin-left:80px;
}
h2{
    color:black;
}
.box-1{
    margin-left: 100px;
}
.main-box{
    background-color: black;
    margin: 0 auto;
    width: 350px;
    border-radius: 17px;
}